<template>
<section>
  <fieldset>
    <label for="nbRegistered">
      Nombre d'inscrits
    </label>
    <input
      id="nbRegistered"
      placeholder="saisir le nombre d'inscrits"
      type="number"
      v-model.number="input.nbRegistered"
      :min="0"
      >
    -
    <label for="offsetFirst">
      Première personne tirée
    </label>
    <input
      id="offsetFirst"
      placeholder="Pas premier"
      type="number"
      v-model.number="input.offsetFirst"
      :min="0"
      >
    -
    <label for="offsetGeneral">
      Pas du tirrage
    </label>
    <input
      id="offsetGeneral"
      placeholder="Pas général"
      type="number"
      v-model.number="input.offsetGeneral"
      :min="0"
      >
  </fieldset>
  <fieldset>
    <label for="nbResponse">
      Nb interrogés
    </label>
    <input
      id="nbResponse"
      placeholder="Nb. interrogés"
      type="number"
      v-model.number="input.nbResponse"
      :min="0"
      :max="output.nbChosen"
      >
    -
    <label for="nbPerPage">
      Nb par page
    </label>
    <input
      id="nbPerPage"
      placeholder="Nb. par page"
      type="number"
      v-model.number="input.nbPerPage"
      :min="1"
      :max="input.nbRegistered"
      >
  </fieldset>
  <fieldset v-if="output.responsePercent">
    Résultat obtenu sur l'échantillon : {{ output.responsePercent ? `${(output.responsePercent * 100).toFixed(2)}%` : '--' }}
    -
    Marge d'erreur : {{ (output.responseErrorMargin * 100).toFixed(2) }}%
    -
    Fourchette de vraisemblance du résultat : {{ ( (1 - output.responseErrorMargin) * 100).toFixed(2) }}%
  </fieldset>
  <div v-if="output.chosen.length">
    <h2>
      Personnes tirées
    </h2>
    <p>
      Nombre personnes tirées: {{ output.nbChosen }}
    </p>
    <textarea
      :value="output.chosen.join('\n')"
      :readonly="true"
      class="chosen raw"
      ></textarea>
    <textarea
      :value="formatPerPage(output.chosen, input.nbPerPage)"
      :readonly="true"
      class="chosen combined"
      ></textarea>
  </div>
</section>
</template>

<script>

const computeOutput = (nbRegistered, offsetFirst, offsetGeneral, nbResponse = null) => {
  let chosen = [];
  const nbChosen = nbRegistered > 1 ? Math.ceil(
                      Math.pow(Math.log(nbRegistered), 3) / 3
                    ) : nbRegistered || 0;
  
  const responsePercent = (nbResponse === null || nbResponse > nbChosen) ? null : (nbResponse / nbChosen);

  // =SQRT((O2/100)*(1-(O2/100))/(N2*(1-(N2/M2))))*100
  const responseErrorMargin = responsePercent ?
    Math.sqrt(
      (responsePercent * (1 - responsePercent))
      / ( nbChosen * ( 1 - ( nbChosen / nbRegistered ) ) )
    )
    : null;

  let lastChosen = 0;

  while ( chosen.length < nbChosen ) {
    const offset = chosen.length ? offsetGeneral : offsetFirst;
    // les lignes commencent à 1 et non 0
    let choose = ((lastChosen + offset - 1 ) % nbRegistered) + 1;

    // tant qu'on tombe sur un déjà choisi, on tente le suivant
    // n % n = 0
    while (chosen.includes(choose)) {
      choose = ((choose + 2) % nbRegistered) - 1;
    }
    
    lastChosen = choose;

    chosen.push(choose)
  }

  chosen.sort((a, b) => a - b);

  if (nbResponse) {
    nbResponse = nbResponse + 0
  }

  return {
    nbChosen,
    chosen,
    responsePercent,
    responseErrorMargin
  }
}

export default {
  name: 'echantillon',
  data: function() {
    return {
      input: {
        nbRegistered: 35604,
        offsetFirst: new Date().getFullYear(),
        offsetGeneral: new Date().getFullYear(),
        nbResponse: null,
        nbPerPage: 8
      },
    }
  },
  computed: {
    output: function () {
      return computeOutput(this.input.nbRegistered, this.input.offsetFirst, this.input.offsetGeneral, this.input.nbResponse)
    },
    // formatPerPage: function() {
    //   return this.output.chosen.join('\n');
    // }
  },
  methods: {
    formatPerPage: function (chosen, perPage = 8) {
      const maxChosen = Math.max.apply(Math, chosen);
      const padChosen = maxChosen.toString().length;
      const maxPage = Math.floor( (maxChosen - 1) / perPage ) + 1;
      const padPage = maxPage.toString().length;
      const padLine = perPage.toString().length;

      return chosen.map((element) => {
          const page = ( Math.floor( ( element - 1 ) / perPage ) + 1 );
          const line = ( ( element - 1 ) % perPage ) + 1;

          const paddedElement = element.toString().padStart(padChosen, ' ');
          const paddedPage = page.toString().padStart(padPage, ' ');
          const paddedLine = line.toString().padStart(padLine, ' ');

          return `${ paddedElement } page:${ paddedPage } ligne:${ paddedLine }`
        }).join('\n')
    }
  },
}

</script>

<style lang="scss">
textarea.chosen {
  display: block;
  float: left;
  width: 10em;
  height: 90vh;

  &.combined {
    width: 20em;
  }
}
</style>
