<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <h1>
      Échantillonnage sur liste électorale
    </h1>
    <echantillon />

    <hr>
    <footer class="clear">
      <a href="https://gitlab.com/consultation-fr/echantillon">
        https://gitlab.com/consultation-fr/echantillon
      </a>
    </footer>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import echantillon from './components/echantillon.vue'

export default {
  name: 'App',
  components: {
    // HelloWorld,
    echantillon
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.clear {
  clear: both;
}
</style>
